

.img-fundo-login{
    background-image:url(../Images/imagenlogin.jfif);
}

.caixa-texto-login {
    margin-top: 10%;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

.icone-input{
    float:left;
    width:30%;
    height:50%
}





.navbar-brand {
    padding: 5px 15px;
}


.navbar-color {
    background-color: #ffa500;
}

.navbar-side-color {
    background-color: #2b1e0d;
}

.navbar-main-color {
    background-color: #d58300;
}

.navbar-font-color{
    color:white;
}